{% extends "CustomerBundle::base.html.twig" %}

{% block content %}
<section>
    <article>
        <h1>Liste des clients :</h1>
    </article>
    {% for customer in customers %}
        <li>Prenom: {{ customer.firstName }}</li>
        <li>Nom: {{ customer.lastName }}</li>
        <li><a href="{{ path('customer_details', {'id':customer.id}) }}"><button>Détails</button></a></li>
    {% endfor %}
</section>
{% endblock %}