{% extends "CustomerBundle::base.html.twig" %}

{% block content %}
<section>
    <article>
    <h1>Contact</h1>
    </article>
    {{ form(form) }}
    <p>
    Résultat :<br>
    Email: {{data.email}}<br>
    Sujet: {{data.subject}}<br>
    Message: {{data.message}}<br>
    </p>

</section>
{% endblock %}