{% extends "CustomerBundle::base.html.twig" %}

{% block content %}
<section>
    <article>
    <h1>Home</h1>
    </article>
    <a href="{{ path('customer_create') }}"><button>Creer un client</button></a></li><br><br>
    <a href="{{ path('customer_list') }}"><button>Liste des clients</button></a></li><br><br>
    <a href="{{ path('customer_contact') }}"><button>Contact</button></a></li>

     
</section>
{% endblock %}