<!DOCTYPE html>
<html>

<head>
    <title>Customer</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/customer/style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% endblock stylesheets %}
</head>

<body>
<div class="container">
    {% include "CustomerBundle::flashes.html.twig" %}
</div>
{% block content %}
{% endblock %}
</body>

</html>