<!DOCTYPE html>
<html>

<head>
    <title>Customer</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/customer/style.css') }}">
    {% endblock stylesheets %}
</head>

<body>
{% block content %}
{% endblock %}
</body>

</html>